PORT=
API_RATE_LIMIT_MAX= # Cantidad de peticiones de la API
API_RATE_LIMIT_WINDOW= # Tiempo de espera de la api en milisegundos
TOKEN_ACCESS=

# Variables para tu app (usa las mismas que PostgreSQL Docker)
# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=
POSTGRES_HOST=  # Para local, en Docker será "db-sistema-ventas"

# Frontend Url: ttp://localhost::3543
FRONTEND_URL=