PORT=
API_RATE_LIMIT_MAX= # Cantidad de peticiones de la API
API_RATE_LIMIT_WINDOW= # Tiempo de espera de la api en milisegundos
TOKEN_ACCESS=

# Variables para tu app (usa las mismas que PostgreSQL Docker)
DB_HOST=  # si es local usa localhost si es docker postgres
DB_PORT= 
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

# Frontend Url: ttp://localhost::3543
FRONTEND_URL=